<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="./style.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">

    <a class="navbar-brand" href="#" data-bs-toggle="popover" title="名字来源" data-content="取自弗里德曼方程，曾被学生用来抗议中国的防疫政策">Λc^2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="./eng">Eng</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">中文<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/brain-crypto/CS50">Github</a>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-primary" data-toggle="collapse" data-target="#info" style="font-size: 25px;">ⓘ</button>
    </div>
  </nav>
  <div id="instruction">
    本工具通过随机添加汉字来帮您避开微信的审查机制<br>
    <br>
    使用方法: <br>
    1. 输入您想发送的内容 <br>
    2. 点击确认 <br>
    3. 选择您理想的设置 <br>
    4. 复制黏贴输出的文字，或转发截屏 <br>
    <br>
    <div class="collapse" id="info">
      工作原理: <br>
      目前为止，微信后台只屏蔽特定敏感词。如果字分开来打，就不会有问题了。<br>
      与此同时，添加一个背景可以减少图片与被屏蔽图片的相似度。<br>
      <br>
      详情请见Github<br>
      <br>
      声明：作者不能保证此方法的可靠性，并不对因此方法造成的损失负责。<br>
      <div style="text-align: center; color: gray; font-size: 15px;">
        <br>
        © Brian 2022, Code licensed MIT, Docs <a href="https://creativecommons.org/licenses/by/3.0/" class="mutedLink">CC BY 3.0.</a> Made with <a href="https://getbootstrap.com/" class="mutedLink">bootstrap4</a><br>
      </div>
    </div>
  </div>
  <form id="form1" method="POST" onsubmit="return addText()">
    <div class="input margin"></div>
    <div class="input">
      <div style="margin: auto; width: 90%; text-align: center;">
        <textarea class="span6" id="input1" type="text" rows="5" name="in" placeholder="输入文字"></textarea>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">确认</button>
      </div>
    </div>
    <div class="input margin"></div>
  </form>
  <div class="output margin"></div>
  <div class="output">
    <div style="width: 90%; margin: auto;">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" id="color" data-bs-toggle="tooltip" title="将正文和随机生成的文字设为不同颜色">
        <label class="btn btn-outline-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" > 单色
        </label>
        <label class="btn btn-outline-primary active">
          <input type="radio" name="options" id="option2" autocomplete="off" checked> 双色
        </label>
      </div>
      <div class="btn-group btn-group-toggle" container="body" data-toggle="buttons" id="background" data-bs-toggle="tooltip" title="添加一个背景图片">
        <label class="btn btn-outline-primary active">
          <input type="radio" name="options" id="option3" autocomplete="off" checked> 空白背景
        </label>
        <label class="btn btn-outline-primary">
          <input type="radio" name="options" id="option4" autocomplete="off"> 艺术背景
        </label>
      </div>
      <button class="btn btn-outline-primary" id="change" onclick="changeBackground()">切换背景</button>
    </div>
    <div class="output" style="height:5px;"></div>
    <div class="frame">
      <img src="./background/blank.jpg" id="pic">
      <div class="top-left" id="maintext"></div>
    </div>
  </div>
  <div class="output margin"></div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./script.js"></script>
</body>

</html>