<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="./style.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">

    <a class="navbar-brand" href="#" data-bs-toggle="popover" title="name origin" data-content="Part of the Friedmann equations, which was used by Chinese students to protest against China's COVID policy.">Λc^2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Eng<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./cn">中文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/brain-crypto/CS50">Github</a>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-primary" data-toggle="collapse" data-target="#info" style="font-size: 25px;">ⓘ</button>
    </div>
  </nav>
  <div id="instruction">
    This tool is designed to help you circumvent WeChat's content filter by adding random characters. It is optimised for Chinese
    characters. <br>
    <br>
    Instruction: <br>
    1. Enter your text in the area below <br>
    2. Click "Convert" <br>
    3. Select your preferences (optional) <br>
    4. copy paste the text, or send a screenshot of the text and background (safer) <br>
    <br>
    <div class="collapse" id="info">
      Brief explanation: <br>
      As of 2022, WeChat's filter simply scans messages for censored words. It can be easily countered by spreading the
      characters apart. <br>
      Meanwhile, adding a generic, artistic background helps against WeChat's similar image filter<br>
      <br>
      For more information or other methods of circumventing WeChat filter, see the linked github repo.<br>
      <br>
      Disclaimer: the creator of this website cannot guarantee that these methods will always work, and cannot be held liable for any damages that ensue as a result of the content posted using this website or its linked repo. <br>
      <div style="text-align: center; color: gray; font-size: 15px;">
        <br>
        © Brian 2022, Code licensed MIT, Docs <a href="https://creativecommons.org/licenses/by/3.0/" class="mutedLink">CC BY 3.0.</a> Made with <a href="https://getbootstrap.com/" class="mutedLink">bootstrap4</a><br>
      </div>
    </div>
  </div>
  <form id="form1" method="POST" onsubmit="return addText()">
    <div class="input margin"></div>
    <div class="input">
      <div style="margin: auto; width: 90%; text-align: center;">
        <textarea class="span6" id="input1" type="text" rows="5" name="in" placeholder="Text"></textarea>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Convert</button>
      </div>
    </div>
    <div class="input margin"></div>
  </form>
  <div class="output margin"></div>
  <div class="output">
    <div style="width: 90%; margin: auto;">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" id="color" data-bs-toggle="tooltip" title="set original and random texts to two different colors when enabled">
        <label class="btn btn-outline-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" > 1 color
        </label>
        <label class="btn btn-outline-primary active">
          <input type="radio" name="options" id="option2" autocomplete="off" checked> 2 color
        </label>
      </div>
      <div class="btn-group btn-group-toggle" container="body" data-toggle="buttons" id="background" data-bs-toggle="tooltip" title="add a stock image background when enabled">
        <label class="btn btn-outline-primary active">
          <input type="radio" name="options" id="option3" autocomplete="off" checked> blank background
        </label>
        <label class="btn btn-outline-primary">
          <input type="radio" name="options" id="option4" autocomplete="off"> artistic background
        </label>
      </div>
      <button class="btn btn-outline-primary" id="change" onclick="changeBackground()">change background</button>
    </div>
    <div class="output" style="height:5px;"></div>
    <div class="frame">
      <img src="./background/blank.jpg" id="pic">
      <div class="top-left" id="maintext"></div>
    </div>
  </div>
  <div class="output margin"></div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./script.js"></script>
</body>

</html>